
		<div ng-controller="chatController" class="chat-container">
			
<div class="chat-container">
  

<nav class="navbar navbar-default">
<div class = "welcomeMsg">
        Welcome to Brics SSNOC Chat 
      </div>  
 <ul class="nav navbar-nav navbar-right">
 <li class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Settings
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#"> Change Status</a></li>
    <li><a href="#">Logout</a></li>
  </ul>      
 </ul>
</nav>


<div class="panel top-controls">
       <div class="panel-body row">
           
             <a class="col-xs-1"href="" title="Home" onclick="">
              <img src="images/home.png"></img></a>

             <a class="col-xs-1"href="" title="Directory" onclick="">
              <img src="images/directory.png"></img></a>

             <a class="col-xs-1"href="" title="PrivateChat" onclick="">
              <img src="images/message.png"></img></a>

             <a class="col-xs-1"href="" title="Announcements" onclick="">
              <img src="images/announcement.png"></img></a>
           
           </div>
       </div>


			
			<!--<div class="row">
			<div class="pull-left">			
       <button ng-click="logout()" type="submit" class="btn btn-primary">Logout</button>
       <div ng-repeat="member in directory|orderBy:['status','name'] : true">
        		<p ng-show="isOnline(member.status)" style="color:green;">{{member.name}}</p>
        		<p ng-show="!isOnline(member.status)" style="color:red;">{{member.name}}</p>
   		</div>

					<div class="btn-group" position="right" >
							    <button type="button" class="btn btn-primary">Share your Status</button>
							    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							      <span class="caret"></span>
							    </button>
							    <ul class="dropdown-menu" role="menu">
							      <li><a href="#">Ok</a></li>
							      <li><a href="#">Help</a></li>
							      <li><a href="#">Emergency</a></li>
							      <li><a href="#">Offline</a></li>
							    </ul>
		  				</div> -->
					 
<!-- sort by name and status-->
  		<!-- <table class="table">
              <thead>
                <tr ng-repeat="member in directory" ng-bind="member.name">
                  <th> </th>
                </tr>
              </thead>
            <tbody >
           </tbody>
          
        </table>
		</div> -->

				<div class="chatArea">
					<p ng-repeat="message in messages">
            <b><span ng-bind="directoryDict[message.member_id].name"></span></b>: &nbsp &nbsp
						<span ng-bind="message.message"></span>
            (<span ng-bind="message.timestamp" class = "posttime"></span>)
            (<span ng-bind="message.status"></span>)
					<p>			
				</div>

				<div class="sendMsg"> 
				<input ng-model="chatMessage" class="col-xs-9" id="ex3" type="text" height="15%"placeholder="Type your message.." required autofocus>
					
				<button ng-click="sendMessage()" type="submit" class="btn btn-success" float="right">Send</button>
				</div>

		</div>
    </div>
