<div class="privatechat_user"> Name:
    
</div>

<div class="chatArea">
          <p ng-repeat="message in messages">
            <b><span ng-bind="directoryDict[message.member_id].name"></span></b>: &nbsp &nbsp
            <span ng-bind="message.message"></span>
            (<span ng-bind="message.timestamp" class = "posttime"></span>)
            (<span ng-bind="message.status"></span>)
          <p>     
        </div>

        <div class="sendMsg"> 
        <input ng-model="chatMessage" class="col-xs-9" id="ex3" type="text" height="15%"placeholder="Type your message.." required autofocus>
          
        <button ng-click="sendMessage()" type="submit" class="btn btn-success" float="right">Send</button>
        </div>

    </div>
    </div>